:root {
  --clr-primary-200: hsl(333, 80%, 67%);
  --clr-primary-400: hsl(300, 43%, 22%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-400: hsl(300, 24%, 96%);
  --clr-neutral-600: hsl(303, 10%, 53%);

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  --ff-main: "League Spartan", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  line-height: calc(1em + 0.5rem);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: none;
  background: none;
  color: inherit;
  cursor: pointer;
}

/* General Styling */
body {
  font-family: var(--ff-main);
  font-size: 0.938rem;
  background-image: url(./images/bg-pattern-top-mobile.svg),
    url(./images/bg-pattern-bottom-mobile.svg);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 2rem;
}

/* Top and Bottom Sections Styling */
.top {
  text-align: center;
}

.top__title {
  color: var(--clr-primary-400);
  font-size: 2.75rem;
  letter-spacing: -0.05em;
  line-height: 0.9;
}

.top__description {
  margin: 1.5rem 0;
  font-size: 1.05rem;
  color: var(--clr-neutral-600);
}

.top__right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.top__rating {
  padding: 1rem;
  background-color: var(--clr-neutral-400);
  border-radius: 0.5rem;
  display: flex;
  gap: 0.75rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top__rating-stars {
  display: flex;
  gap: 0.5rem;
}

.top__rating-description {
  font-weight: var(--fw-bold);
}

.rating__description {
  font-weight: var(--fw-bold);
  color: var(--clr-primary-400);
  font-size: 1rem;
}

.bottom {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card {
  --card-padding: 2rem;
  --profile-content-gap: 1.5rem;
  background-color: var(--clr-primary-400);
  border-radius: 0.5rem;
  padding: var(--card-padding);
  color: var(--clr-neutral-100);
  display: grid;
  gap: var(--profile-content-gap);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.card__profile {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.card__profile-name {
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-400);
}

.card__profile-name span {
  font-weight: var(--fw-medium);
  color: var(--clr-primary-200);
}

.card__profile img {
  width: 40px;
  border-radius: 50%;
}

.card__profile-description {
  font-weight: var(--fw-medium);
}

/* Media Queries */
@media (min-width: 1145px) {
  body {
    margin: 0;
    background-image: url(./images/bg-pattern-top-desktop.svg),
      url(./images/bg-pattern-bottom-desktop.svg);
  }

  .container {
    max-width: 80%;
  }

  .top {
    display: flex;
  }

  .top__left {
    width: 50%;
    text-align: left;
  }

  .top__title {
    font-size: 3.5rem;
    max-width: 10ch;
  }

  .top__description {
    font-weight: var(--fw-medium);
    font-size: 1.2rem;
    max-width: 40ch;
  }

  .top__right {
    width: 50%;
    justify-content: center;
  }

  .top__rating {
    flex-direction: row;
    align-self: flex-end;
    gap: 2rem;
    width: 80%;
  }

  .top__rating:nth-child(1) {
    margin-right: 100px;
  }

  .top__rating:nth-child(2) {
    margin-right: 50px;
  }

  .bottom {
    flex-direction: row;
    gap: 2rem;
  }

  .card {
    max-width: 350px;
    max-height: 250px;
  }

  .card:nth-child(2) {
    margin-top: 20px;
  }

  .card:nth-child(3) {
    margin-top: 50px;
  }

  .card__profile-name {
    font-size: 1rem;
  }

  .card__profile-name span {
    font-weight: var(--fw-regular);
  }

  .card__profile-description {
    font-size: 1rem;
  }
}
